:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    /* display: flex;
    justify-content: center; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    width: 100%;
}

a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
}

a:hover {
    color: #999999;
}

body {
    margin: 0;
    display: flex;
    /* place-items: center;
    justify-content: center; */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin:10px;
}

/* button:hover {
    border-color: #646cff;
} */

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    /* a:hover {
        color: #747bff;
    } */

    button {
        background-color: #f9f9f9;
    }
}

.Trial_BlockInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: #034370;
    color: #FFFFFF;

}


.observation_BlockInfo{
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #213547;
    background-color: #ffffff;
    line-height: 200%;
}

.Header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    position: static;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 3px solid black;
}

.Header_Interaction {
    gap: 1px;
    grid-template-rows: none;
    position: static;
    display: grid;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: end;
    grid-auto-flow: column;
    justify-content: end;
}

.CreateTrialButton {
    color: #FFFFFF;
    background-color: #FF0000;
}

.Trial_HomePage {
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    gap:10px;
}

.FullNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ff0000;
    color:#ffffff;
}

.Filter_Bar {
    display: inline-block;
    flex-direction: column;
    gap: 20px;
    position: static;
    align-content: space-around;
    justify-content: space-around;
}

.TrialOrg_BlockInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: start;
    color: #FFFFFF;
    background-color: #034370;
    padding: 10px;
}

.Trial_HomePage_Description {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #034370;
    opacity: 1;
    flex-wrap: wrap;
}

.Trial_HomePage_ContentBlock {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
}

.TrialOrg_Header {
    display: flex;
    flex-direction: row;
    grid-auto-flow: column;
    align-items: center;
    justify-items: end;
    justify-content: space-between;
}

.TrialOrg_Content {
    display: flex;
    flex-direction: row;
}

.Trial_Obs_List {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
}

.Trial_Obs_ViewReport {
    display: grid;
    background-color: #034370;
    flex-wrap: nowrap;
    flex-direction: row;
    grid-auto-flow: column;
    align-items: end;
}

.Add_Trial_Form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.Add_Trial {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #FF0000;
    vertical-align: middle;
    background-color: gray;
}

button#login {
margin-top: -50px;
}

.ObservationSum_Report {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-items: start;
    gap: 10px;
}
.popUpContainer{
    width:50%;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.15);
}

.padding{
    padding:10px;
}